

.contact-main.section
{
    padding-top: 0;
}

.contact-details.section
{
    padding-top: 0;
    padding-bottom: 0;
}

[class^="contact-banner-"], [class*=" contact-banner-"]
{
    padding: 14px 0 13px;

    h1
    {
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0 auto 0;
        padding-left: 15px;
        padding-right: 15px;

        font-size: 2.25rem;
        font-weight: 400;
        line-height: 1.1;
        color: $white;
    }

    a
    {
        font-weight: 700;
        text-decoration: none;
        padding: 0 5px 0 0;
    }

    p
    {
        margin: 0 auto 0;
        padding-left: 15px;
        padding-right: 15px;

        color: $color-secondary;
        font-size: .8125rem;
        line-height: 1.42857143;
    }

    h1, p
    {
        width: 750px;
    }
    
    @media #{$break-wide}
    {
        h1, p
        {
            width: 970px;
        }
    }

    @media #{$break-full}
    {
        h1, p
        {
            width: 1200px;
        }
    }
}

.contact-banner-primary
{
    border-top: 1px solid $color-secondary;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
}

.contact-banner-secondary
{
    padding: 0;
    background-color: $color-secondary;

    @media #{$break-wide}
    {
        background-color: inherit;
        h1, p
        {
            padding-top: 50px;
            padding-bottom: 0;
            margin-bottom: -3px;
            color: $color-secondary;
        }
    }
}

.contact-details
{
    width: 100%;

    p
    {
        font-weight: 600;
        color: $color-secondary;
        margin: 0 0 25px;
    }
}

.contact-details-email
{
    color: $color-purple !important;
    font-size: 1.625rem;
    font-weight: 600;
    
    margin-bottom: 30x !important;

    a
    {
        text-decoration: none;
    }

    a:hover
    {
        text-decoration: underline;
    }
}

.dropdown
{
    overflow: hidden;
    transition: all 0.75s ease;

    &.dropdown-extend
    {
        height: 600px;
    }
}

.dropdown-btn
{
    p
    {
        display: inline;
    }

    p:focus
    {
        text-decoration: underline;
    }

    i
    {
        font-size: 0.95rem;
        text-shadow:0px 0px 2px black;
    }
}

.dropdown-btn:hover p
{
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-btn:focus p
{
    text-decoration: underline;
}

.dropdown-info
{
    margin-top: 25px;
    margin-bottom: 25px;

    p
    {
        font-weight: inherit;

        strong
        {
            font-weight: 600;
        }
    }
}

.contact-aside.grid-container
{
    grid-gap: 0;
    
    @media #{$break-full}
    {
        grid-gap: 30px;
        row-gap: 0;

        grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr);

        & > div:nth-child(1)
        {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        & > div:nth-child(2)
        {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
}

#Contact .grid-container
{
    // Prevents resizable text area from rezising entire contact form
    grid-template-columns: minmax(100px, 1fr) 0;

    & > div:nth-child(1)
    {
        grid-column: 1 / 3;
    }

    @for $i from 2 through 5
    {
        & > div:nth-child(#{$i})
        {
            grid-column: 1 / 3;
            grid-row: $i / calc($i + 1);
        }
    }

    & > div:nth-child(6)
    {
        grid-column: 1 / 3;
    }

    @media #{$break-wide}
    {
        grid-gap: 30px;
        row-gap: 0;

        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);

        @for $i from 2 through 5
        {
            & > div:nth-child(1)
            {
                grid-column: 1 / 3;
            }

            & > div:nth-child(#{$i})
            {
                grid-column: inherit;
                grid-row: inherit;
            }
        }
    }
}

.form-status
{
    padding: 15px;
    color: #fff;
    background: #2ecc71;

    p
    {
        margin: 0;
        display: inline;
    }
}

.close-status
{
    display: inline;
    float: right;

    background: transparent;
    border: none;

    color: $black;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    font-size: 16px;
    font-weight: 700;

    &:hover
    {
        cursor: pointer;
        opacity: .5;
    }
}

.form-status-error
{
    padding: 15px;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

// Form class in flex container
// Width (100px) in grid container