/* ===================================== 
   Cookies Popup
======================================== */

#CookiesPopup
{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    width: 100vw;
    height: 100vh;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.cookies-menu
{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 10;

    background-color: white;
    
    transform: translate(-50%, -50%);

    //width: auto;
    width: 600px; //Screen sizes >= 768px
    height: 40vh;
}

.cookies-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: black;
    opacity: 0.7;
}

//Text styling 

//Screen sizes < 768px, cookies buttons appear in 2 rows, span entire width
//Screen sizes >= 768px Show cookies buttons in single line, span entire width