/* ========================================================== */
/* Footer Styles */
/* ========================================================== */

#FooterInfo
{
    padding: 27px 15px 30px;

    background-color: $color-footer-info;
    color: $color-text-light;

    .footer-title
    {
        margin: auto;
        margin-bottom: 24px;
        
        position: relative;
        text-align: center;

        width: 320px;
        height: auto;
    }

    ul
    {
        list-style: none;
        margin: 0;
    }

    h3
    {
        font-size: 1rem;
        font-weight: 400;
    }

    a
    {
        text-decoration: none;
        font-size: .8125rem;
        line-height: 1.375rem;
    }

    a:hover
    {
        text-decoration: underline;
    }
}

#FooterBottom
{
    padding: 10px 15px;

    background-color: $color-footer-bottom;
    color: $color-text-light;

    p
    {
        display: flex;
        width: 100%;
        padding: 5px 0 10px;
        margin: 0;
        
        font-size: 0.8125rem;
        text-decoration: none;
        color: $white;
        letter-spacing: 0.4px;
        line-height: 1.42857143;
    }
}