/* ========================================================== */
/* Footer Styles */
/* ========================================================== */

#FooterInfo
{
    background-color: $color-footer-info;
    color: $color-text-light;
}

#FooterBottom
{
    background-color: $color-footer-bottom;
    color: $color-text-light;
}