/* ========================================================== */
/* Header Styles */
/* ========================================================== */

#Header
{
    padding: 20px 0;

    .header-title
    {
        margin: auto;
        position: relative;
        text-align: center;

        width: 100%;
        max-width: 400px;
        height: auto;
    }
}

.header-container
{
    padding-left: 15px;
    padding-right: 15px;
}