/* ========================================================== */
/* Header Styles */
/* ========================================================== */

#Header
{
    padding: 20px 0;

    .header-title
    {
        margin-right: auto;
        position: relative;
        text-align: center;

        width: 100%;
        max-width: 400px;
        height: auto;

        @media #{$break-narrow}
        {
            margin: auto;
            margin-right: 40px;
            max-width: 345px;
        }

        @media #{$break-wide}
        {
            max-width: 374.156px;
        }

        @media #{$break-full}
        {
            max-width: 370px;
        }
    }

    .section
    {
        padding: 0;
    }
}

.header-container
{
    padding-left: 15px;
    padding-right: 15px;
}