/* ===================================== 
   News Styles
======================================== */

#LatestNews
{
    padding: 45px 15px 50px;

    & > div:first-child
    {
        margin-bottom: 35px;
    }

    h2
    {
        font-size: 2.25rem;
        font-weight: 600;
        margin-bottom: 0px;
    }
}

.news
{
    @include cardstyles;
    border-radius: 0 0 3px 3px;
    text-align: left;

    max-width: 720px;
    
    border-top: 0px solid #ccc;

    h3
    {
        font-size: 1rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 15px;
        font-weight: 600;
    }

    & > p 
    {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 25px;
    }

    .btn
    {
        margin: 0 30px;
        line-height: 35px;
        padding: 5px 15px;
        border: 1px solid transparent;
    }

    img
    {
        width: 100.5%;
        height: auto;
        margin-bottom: 10px;
    }

    .icon-news
    {
        width: 47px;
        height: 47px;
    }
}

.news-poster-container
{
    margin: 23px 30px 20px;
}

.news-poster
{
    @include flexproperties;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;

    border-top: 1px solid #ccc;

    div
    {
        margin-top: 0px;
        margin-left: 20px;
        margin-right: auto;

        strong
        {
            font-weight: 600;
        }

        p
        {
            margin-top: 2px;
            font-size: .875rem;
            line-height: 1.375rem;
        }
    }
}

.news-popup
{
    position: absolute;
    top: 10px;
    right: 0;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #67809f;

    p
    {
        color: $white;
        font-size: 0.75rem;
        line-height: 1.438rem;
        font-weight: 600;

        margin: 0;
    }
}

.news-purple
{
    .btn,
    .news-popup
    {
        background-color: $colour-card-purple;
    }
}

.news-blue
{
    .btn,
    .news-popup
    {
        background-color: $colour-card-blue-desat;
    }
}

.news-red
{
    .btn,
    .news-popup
    {
        background-color: $colour-card-red;
    }
}

.read-time
{
    display: inline;
    color: rgba(51, 54, 69, .5);
    font-size: .85rem;
    vertical-align: middle;

    span
    {
        display: block;
        margin-top: -10px;
        padding-left: 30px;
    }
}