/* ===================================== 
   Partners Styles
======================================== */

.partners
{
    margin-bottom: 50px;

    .flex-container
    {
        overflow-x: clip;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    li
    {
        list-style: none;
        margin-right: 50px;
    }
}

.btn-partner
{
    @include partnerbtn();
}

.btn-case
{
    @include partnerbtn();
    
    display: flex;
    align-items: center;
    width:auto;
    vertical-align: middle;
    position: relative;

    .triangle-under::after
    {
        bottom: 32px;
        border-width: 35px 36px 0;
        border-color: $color-secondary transparent transparent transparent;
    }

    &:hover
    {
        .triangle-under
        {   
            display:inherit;
        }
        .hoverdisplay
        {
            display: flex;
        }
    }
}

.hoverdisplay
{  
    display: none;
    position: absolute;
    bottom: 70%;
    left: -200px;
    right: -200px;
    margin: auto;
    
    color: $white;
    background-color: $transparent;
    text-align: center;

    & > div:first-child
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        //position: absolute;
        //left: 50%;
        //bottom: 100%;
        
        background-color: $color-secondary;
        padding: 20px;
        width: 280px;
        margin: auto;
        margin-bottom:65px;
    }

    h3
    {
        margin-top: 0;
        font-size: 1.125rem;
    }
    p
    {
        font-size: .8125rem;
        line-height: 1.375rem;
        padding-top: 0;
        margin-bottom: 0;
    }
    a
    {
        margin-top: 11px;
        font-size: 16px;
    }
}