/* ========================================================== */
/* Services Styles */
/* ========================================================== */

#Services
{
    padding-top: 47px;
}

.services-cardcontainer
{
    margin-top: 23px;
}

.card
{
    @include cardstyles;
    padding: 30px;

    height: 100%;

    h3
    {
        padding-bottom: 10px;
        margin: 0 0 11px;
    }

    // .btn
    // {
    //     //TODO: Unique styling for buttons here
    // }
}

.icon-services
{
   margin: 0 auto 17px;
   height: 65px;
   width: 65px;
   background-color: $color-purple;
   border-radius: 50%;
}

.invert-blue-desat
{
    @include invertCards($white, $colour-card-blue-desat, $color-secondary);
}

.invert-blue-sat
{
    @include invertCards($white, $colour-card-blue-sat, $color-secondary);
}

.invert-green
{
    @include invertCards($white, $colour-card-green, $color-secondary);

}

.invert-red
{
    @include invertCards($white, $colour-card-red, $color-secondary);

}

.invert-purple
{
    @include invertCards($white, $colour-card-purple, $color-secondary);

}

.invert-pink
{
    @include invertCards($white, $colour-card-pink, $color-secondary);

}

.invert-orange
{
    @include invertCards($white, $colour-card-orange, $color-secondary);

}