/* ========================================================== */
/* Services Styles */
/* ========================================================== */

#Welcome
{
    background-color: $color-secondary;
    color: $color-text-light;
    line-height: 39.6px;

	h2
	{
		font-size: 2.25rem;
		font-weight: 600;
		color: $color-text-light;
        margin-bottom: 40px;
	}

    strong
    {
        font-weight: 600;
    }

    p a
    {
        text-decoration: none;
    }

    p a:hover
    {
        text-decoration: underline;
    }
}

.fivestar
{
    @include flexproperties;
    align-items: flex-start;
    justify-content: flex-start;
    height: 75px;
    // margin-top: 40px;

    span
    {
        color: orange;
        font-size: 50px;
        margin-right: 5px;

        text-align: center;
        vertical-align: middle;
    }
}

.quote
{
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
}

.author
{
    font-weight: 600;
    color: #a3a8ac;
    font-size: 1.1rem;
    line-height: 1.875rem;
}

.welcome-btngrid
{
    a
    {
        display: inline-block;
        border-radius: 6px;
        padding: 10px 30px;
        font-size: 20px;

        //margin-top: 20px;

        border: 0;

        &:first-child
        {
            margin-right: 8px;
        }
    }
}