/* ===================================== 
   Button Styles
======================================== */

.btn
{
    height: auto;

    background-color: $color-purple;
    border-radius: 3px;

    padding: 10px 20px;

    color: $color-text-light;
    text-decoration: none;

    line-height: 35px;
    text-transform: uppercase;
    font-size: 1.063rem;
    white-space: normal;

    img
    {
        width:50px;
        height:50px;
    }

    .arw-after::after
    {
        color: $color-text-light;
    }

}

.btn-block
{
    width:50px;
    height: 50px;
    border-radius: 3px;

    img
    {
        width:50px;
        height:50px;
    }
}

.btn-navtab
{
    width:50px;
    height: 50px;
    border-radius: 3px;
    background-color: $color-secondary;

    img
    {
        color: white;
        width:50px;
        height:50px;
    }
}