/* ===================================== 
   Button Styles
======================================== */

.btn
{
    @include btnstyles($colour-btn-primary-base, $colour-btn-primary-hover);
}

.btn-welcome
{
    @include btnstyles($colour-btn-dark-base, $colour-btn-dark-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-purple
{
    @include btnstyles($colour-btn-purple-base, $colour-btn-purple-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-grey
{
    @include btnstyles($colour-btn-grey-base, $colour-btn-grey-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-blue
{
    @include btnstyles($colour-btn-blue-base, $colour-btn-blue-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-blue-desat
{
    @include btnstyles($colour-btn-blue-desat-base, $colour-btn-blue-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-green
{
    @include btnstyles($colour-btn-green-base, $colour-btn-green-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-subscribe
{
    @include btnstyles($colour-btn-sub-base, $colour-btn-sub-hover);
    border: 3px solid transparent;
    padding: 5px 15px;
    font-size: 1.063rem;
}

.btn-social
{
    @include btnstyles($colour-btn-social-base, $colour-btn-fb-hover);
    border: 3px solid transparent;
    border-radius: 0;
    padding: 5px 15px;
    font-size: 1.063rem;
    margin-right: 10px;

    width: 70.406px;
    height: 56px;

    // width: 26.406px;
    // height: 22px;
    // padding: 12px 22px 16px 22px;

    svg
    {
        margin: auto;
        width: 70%;
        fill: $white;
    }
}

.facebook
{
    &:hover
    {
        background-color: $colour-btn-fb-hover;
        text-decoration: none;
    }
}

.linkedin
{
    &:hover
    {
        background-color: $colour-btn-li-hover;
        text-decoration: none;
    }
}

.twitter
{
    &:hover
    {
        background-color: $colour-btn-tw-hover;
        text-decoration: none;
    }
}

.instagram
{
    &:hover
    {
        background-color: $colour-btn-ig-hover;
        text-decoration: none;
    }
}

.btn-block
{
    width:50px;
    height: 50px;
    border-radius: 3px;

    img
    {
        width:50px;
        height:50px;
    }
}

.btn-navtab
{
    width:50px;
    height: 50px;
    border-radius: 3px;
    background-color: $color-secondary;

    img
    {
        color: white;
        width:50px;
        height:50px;
    }
}