/* ===================================== 
   Flexbox Styles
======================================== */

.flex-container
{
    @include flexproperties;

    &.wide-center
    {
        justify-content: space-between;
        align-items: center;
    }
}

.space-between
{
    justify-content: space-between;
}

.align-center
{
    align-items: center;
}

.flex-item-center
{
    display:flex;
    align-items: center;

    &.mobile-only
    {
        @media #{$break-narrow}
        {
            display: none;
        }
    }

    &.narrow-only
    {
        display: none;
        @media #{$break-narrow}
        {
            display: inherit;
        }
    }
    
    &.wide-only
    {
        display: none;
        @media #{$break-wide}
        {
            display: inherit;
        }
    }
}

.vertical
{
    flex-direction: column;

    .flex-item-center
    {
        margin: auto;
        margin-bottom: 13px;
    }

    .flex-item:first-child,
    .flex-item-center:first-child
    {
        margin: 0 auto 13px;
    }
}

.last-on-left
{
    margin-right: auto;
}

.socials
{
    @include flexproperties;

    align-items: flex-start;
    width: max-content;
    height: max-content;
    margin: 22px auto 30px 0;
    
    .flex-item,
    .flex-item-center
    {
        margin-right: 7px;
    }
}