/* ===================================== 
   Flexbox Styles
======================================== */

.flex-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flex-item
    {
        margin: auto;
        position: relative;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 15px;
    }

    .flex-item:first-child
    {
        margin-left: 0;
    }

    .flex-grow
    {
        flex: 1;
    }

    .flex-shrink
    {
        flex-shrink: 2;
        max-width: 100%;
    }
}

.vertical
{
    flex-direction: column;

    .flex-item
    {
        margin: auto;
        margin-bottom: 13px;
    }

    .flex-item:first-child
    {
        margin: 0 auto 13px;
    }
}

.card
{
    top: 0px;
    transition: 0.5s ease;
    padding: 30px;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: 0;

    color:$color-text-dark;

    h3
    {
        font-size: 1.3rem;
        position: relative;
        padding-bottom: 10px;
        margin: 0 0 11px;
        font-weight: 400;
    }

    p
    {
        font-size: 0.8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
    }

    &:hover
    {
        top: -10px;
        transition: 0.5s ease;
    }
}

.news
{
    top: 0px;
    transition: 0.5s ease;
    text-decoration: none;
    margin-top: 30px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    position: relative;
    top: 0;

    color:$color-text-dark;

    h3
    {
        font-size: 1.3rem;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 15px;
        font-weight: 400;
    }

    p
    {
        font-size: 0.8125rem;
        line-height: 1.375rem;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 25px;
        font-weight: 400;
    }

    .btn
    {
        margin: 30px;
    }

    &:hover
    {
        top: -10px;
        transition: 0.5s ease;
    }

    img
    {
        width: 100%;
        height: auto;
    }
}

.news-poster
{
    padding-top: 30px;
    margin: 30px;
    border-top: 1px solid #ccc;
}

.last-on-left
{
    margin-right: auto;
}