/* ===================================== 
   Links Styles
======================================== */

.lnk-container
{
    justify-content: center;
    text-align: center;
}

.lnk
{
    color: $color-secondary;
}

a.lnk
{
    font-weight: 600;
    // padding-left: 15px;
    // padding-right: 15px;
    font-size: 1.625rem;
    text-decoration: none;
    padding-bottom: 5px;

    &:hover
    {
        text-decoration: underline;
    }
}

.link-phone
{
    margin: auto;

    text-decoration: none;
    font-size: 32px;
    color: $color-secondary;

    &:hover
    {
        text-decoration: underline;
        text-decoration-thickness: from-font;
    }
}