/* ===================================== 
   Navbar Styles
======================================== */

.btn-nav-container
{
    display: flex;
    width: 63px;
    height: 56px;

    padding: 5px 15px;
    // margin-left: 20px;
    background-color: $color-secondary;
    border-radius: 3px;
}

.flex-item:has(> .btn-nav-container)
{
    margin-left: 0;
    margin-right: 0;
}

.btn-nav
{
    display: block;
    width: 33px;
    height: 24px;

    margin: auto;

    border-top: solid 4px $white;
    border-bottom: solid 4px $white;
    position: relative;

    line-height: 0;
    cursor: pointer;
}

.btn-nav:before
{
    display: block;
    content: '';
    position: absolute;

    width: 33px;
    height: 4px;
    background: $white;
    top: 40%;
    justify-content: center;
}

// .btn-nav:after
// {
//     bottom: 0;
// }