/* ===================================== 
   Searchbar Styles
======================================== */

.search
{
    margin-top: 11px;
    height: 47px;


    form
    {
        background-color: $color-search-mobile;
        border: 2px solid $color-search-mobile;
        width: 100%;
        height: 100%;
    }

    input
    {
        background-color: $transparent;
        padding: 5px 15px;
        border: none;
        width: 80%;
        height: 100%;
    }

    .flex-container
    {
        justify-content: space-between;
    }
}

.search-sbmt
{
	width: auto;
    height: 100%;

    img
    {
        width:32px;
        height:32px;
    }
}

.search-sbmt::after
{
	content: "\E003";

    font-size:20px;

	display: inline-block;
}