/* ===================================== 
   Page Styles
======================================== */

*
{
	box-sizing: border-box;
}

body
{
    background-color: $color-primary;
    color: $color-text-dark;

    font-size: 1.4em;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.container > *
{
    color: #fff;
    text-shadow: 0 2px 0 rgba(110,133,156,0.12);
    padding: 0.85em;
    border: solid 1px rgba(110,133,156,0.15);
}

#Welcome
{
    background-color: $color-secondary;
    color: $color-text-light;
}

#SignUp
{
    background-color: $color-form;
}

.link-phone
{
    width:32px;
    height: 32px;

    img
    {
        width:32px;
        height:32px;
    }
}

// .link-phone::after
// {
// 	content: "\E902";

//     font-size:32px;

// 	display: inline-block;
// }

.arw-after::after
{
    display: inline-block;
    content: "";
    width: 30px;
    height: 15px;

    margin-left: 10px;

    background: transparent url("../images/arrow-right.svg") no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden
{
	display: none;
}

/* ===================================== 
   Grid Layout
======================================== */

.container
{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(200px, 1fr) 100px 100px; 
    grid-gap: 10px;
    grid-template-areas:
        "header"
        "main"
        "aside" 
        "footer";
  }
  
  header
  {
    grid-area: header;
  }
  
  main
  {
    grid-area: main;
  }
  
  aside
  {
    grid-area: aside;
  }
  
  footer
  {
    grid-area: footer;
  }