/* ===================================== 
   Mixins
======================================== */

@mixin btnstyles($bkgrndColour, $bkgrndHoverColour)
{
    height: auto;

    background-color: $bkgrndColour;
    border-radius: 3px;

    padding: 10px 20px;

    color: $color-text-light;
    text-decoration: none;

    line-height: 35px;
    text-transform: uppercase;
    font-size: 1.063rem;
    white-space: normal;

    overflow: hidden;

    &:hover
    {
        background-color: $bkgrndHoverColour;
        text-decoration: none;
    }

    img
    {
        width:50px;
        height:50px;
    }

    .arw-after::after
    {
        color: $color-text-light;
    }
}

@mixin flexproperties
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flex-item-center
    {
        position: relative;
        vertical-align: middle;
        margin-left: 15px;
        margin-right: 15px;
    }

    .flex-item:first-child,
    .flex-item-center:first-child
    {
        margin-left: 0;
    }

    .flex-grow
    {
        flex: 1;

        &.stopgrow-narrow
        {
            @media #{$break-narrow}
            {
                flex: inherit;
            }
        }
    }

    .flex-shrink
    {
        flex-shrink: 2;
        max-width: 100%;
    }
}

@mixin cardstyles
{
    top: 0px;
    transition: 0.5s ease;
    
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    position: relative;
    top: 0;

    color:$color-text-dark;
    text-align: center;

    h3
    {
        font-size: 1.3rem;
        position: relative;
        font-weight: 400;
    }

    p
    {
        font-size: 0.8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
    }

    &:hover
    {
        top: -10px;
        transition: 0.5s ease;
    }
}

@mixin cardColour($col1, $col2, $textCol)
{
    background-color: $col1;

    .icon-services
    {
        background-color: $col2;

        svg
        {
            fill: $col1;
        }
    }

    h3, p
    {
        color: $textCol;
    }

    .btn
    {
        color: $col1;
        background-color: $col2;
    }
}

@mixin partnerbtn
{
    vertical-align: middle;
    padding: 0 20px;
    max-height: 70px;
    height: 70px;
    width: auto;
    display: flex;
    align-items: center;

    filter: grayscale(1);

    img
    {
        max-height: 70px;
        width: auto;
        max-width: 200px;
    }

    &:hover
    {
        filter: grayscale(0);
    }
}