/* ========================================================== */
/* Variables */
/* ========================================================== */

// Colours
$black          : #000;
$grey           : #888;
$darkgrey       : rgb(49, 49, 49);
$white          : #fff;
$transparent    : rgba(0, 0, 0, 0);

//Default Page Colours
$color-primary              : $white;
$color-secondary            : #333645;
$color-form                 : #ddd;
$color-footer-info          : #323544;
$color-footer-bottom        : #212330;

//Text Colours
$color-text-light       : $white;
$color-text-dark        : #666;

//Searchbar Colours
$color-search           : rgba(0, 0, 0, .1);
$color-search-mobile    : rgba(0, 0, 0, .1);
